.footer {
  background-color: #000000;
  color: #ffffff;
  padding: 62px 28px 20px 29px;

  @media (min-width: 960px) {
    padding: 86px 61px 20px 63px;
  }
}

.footer-content {
  margin-bottom: 40px;

  @media (min-width: 960px) {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 74px;
    padding-right: 37px;
  }
}

.footer-boron-icon {
  margin-bottom: 42px;

  @media (min-width: 960px) {
    margin-bottom: 87px;
    grid-area: 1 / 1 / 2 / 2;
  }
}

.footer-social {
  @media (min-width: 960px) {
    grid-area: 2 / 1 / 3 / 2;
  }
}

.footer-news {
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  max-width: 356px;
  margin-bottom: 25px;

  @media (min-width: 960px) {
    margin-bottom: 40px;
  }
}

.footer-information {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: 960px) {
    flex-direction: row;
  }
}

.footer-button {
  padding: 10px 20px;
  background-color: #77d7db;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 32px;

  @media (min-width: 960px) {
    letter-spacing: 0.1em;
    padding: 22px 29px;
    margin-right: 57px;
    margin-bottom: 0;
  }
}

.footer-button-name {
  margin-right: 14px;

  @media (min-width: 960px) {
    margin-right: 34px;
  }
}

.footer-social-network {
  display: flex;
  align-items: center;
}

.footer-mail {
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  margin-right: 44px;

  @media (min-width: 960px) {
    margin-right: 80px;
  }
}

.footer-social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;

  @media (min-width: 960px) {
    justify-content: flex-start;
    flex-direction: column;
    grid-area: 1 / 2 / 3 / 3;
    margin-bottom: 0;
  }
}

.footer-links-group {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 42px;
  text-transform: capitalize;
}

.footer-links-link {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 26px;

  // &:last-child {
  //   margin-bottom: 0;
  // }
}

.footer-copyright {
  display: flex;
  flex-direction: column-reverse;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;

  @media (min-width: 960px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.footer-copy {
  font-size: 12px;

  @media (min-width: 960px) {
    font-size: 14px;
  }
}

.footer-news,
.footer-by,
.footer-links-group {
  text-transform: capitalize;
}
