.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 22px 20px;
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;

  &.is-active {
    background-color: #000000;

    @media (min-width: 960px) {
      background-color: transparent;
    }

    .navbar-icon {
      svg {
        fill: #ffffff;

        g {
          fill: #ffffff;

          path {
            fill: #ffffff;
          }
        }
      }

      @media (min-width: 960px) {
        svg {
          fill: transparent;
        }
      }
    }
  }

  @media (min-width: 960px) {
    padding: 10px 50px 20px;
  }
}

.navbar-icon-mobile {
  display: block;

  @media (min-width: 960px) {
    display: none;
  }
}

.navbar-icon-desktop {
  display: none;

  @media (min-width: 960px) {
    display: block;
  }
}

.navbar-menu-btn {
  background-color: #000000;
  border: 0;
  outline: 0;
  color: #ffffff;
  width: 100px;
  height: 40px;
  border-radius: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
  z-index: 1;
  cursor: pointer;

  @media (min-width: 960px) {
    width: 140px;
    height: 60px;
    justify-content: space-evenly;
  }
}

.navbar-menu-btn-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-right: 6px;
}

.navbar-menu-btn-line {
  width: 30px;
  height: 2px;
  background-color: #ffffff;
  margin: 7px 0;
  transition: 0.4s;
  display: block;

  &.second {
    width: 15px;
  }
}

.menu-btn-cross {
  width: 20px;
  height: 20px;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
  font-weight: 700;
}

.navbar-menu {
  background-color: #000000;
  position: absolute;
  top: 77px;
  right: 0;
  transition: 0.1s;
  width: 0;
  padding: 0;
  opacity: 0;

  &.is-active {
    width: 100%;
    padding: 20px 30px 40px;
    opacity: 1;
  }

  @media (min-width: 960px) {
    top: 0;

    &.is-active {
      width: 720px;
      padding: 114px 102px 86px 110px;
    }
  }
}

.navbar-menu-links {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

.navbar-menu-links-link {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 26px;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  text-transform: capitalize;

  &:hover,
  &:active {
    color: #ffffff;
  }
}

.navbar-menu-lens-lang {
  display: flex;
  flex-direction: column;

  @media (min-width: 960px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.navbar-languages {
  color: #ffffff;
  margin-top: 24px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.navbar-information {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: 960px) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.navbar-button {
  padding: 22px 27px;
  background-color: #77d7db;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  margin-bottom: 30px;

  @media (min-width: 960px) {
    margin-bottom: 0;
  }
}

.navbar-button-name {
  margin-right: 14px;
}

.navbar-social-network {
  display: flex;
  align-items: center;
}

.navbar-mail {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 40px;
  margin-right: 44px;

  @media (min-width: 960px) {
    display: none;
  }
}

.navbar-social-icons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 42px;
}
