.news-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 26px;
}

.news-box-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;

  @media (min-width: 960px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.news-box {
  position: relative;
  background-color: #40b5e0;
  cursor: pointer;

  &.second {
    background-color: #77d7db;
  }

  &.third {
    background-color: #44d19d;
  }

  &.fourth {
    background-color: #feda3c;
  }

  &:active,
  &:hover {
    .news-box-figure {
      max-height: 124px;
      transition: max-height 0.5s ease-in;

      @media (min-width: 960px) {
        max-height: 240px;
      }
    }

    .news-box-image {
      clip-path: polygon(0 0, 0 100%, 100% 59%, 100% 0);
    }

    &.second {
      .news-box-image {
        clip-path: polygon(0 0, 0 83%, 100% 49%, 100% 0);
      }
    }

    &.third {
      .news-box-image {
        clip-path: polygon(0 0, 0 69%, 100% 38%, 100% 0);
      }
    }

    &.fourth {
      .news-box-image {
        clip-path: polygon(0 0, 0 67%, 100% 34%, 100% 0);
      }
    }
  }
}

.news-box-wrapper {
  padding: 30px 20px 60px;

  @media (min-width: 960px) {
    padding: 40px;
  }
}

.news-box-heading {
  position: relative;
  margin-bottom: 89px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 960px) {
    margin-bottom: 227px;
  }
}

.news-box-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: 960px) {
    font-size: 20px;
    line-height: 27px;
  }
}

.news-box-plus {
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;

  @media (min-width: 960px) {
    font-size: 56px;
  }
}

.news-box-description {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;

  @media (min-width: 960px) {
    font-size: 24px;
    line-height: 33px;
  }
}

.news-box-figure {
  position: absolute;
  top: 0;
  left: 0;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
  width: 100%;
  z-index: 1;
}

.news-box-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
