* {
  box-sizing: border-box;
  font-family: "Open Sans", serif;
  font-style: normal;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 1000000px;
  margin: 0;

  &,
  &::before,
  &::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
